/* Estilos para el contenedor del login */
.login-container {
  width: 80%; /* Ancho del contenedor */
  max-width: 400px; /* Ancho máximo para dispositivos grandes */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Añade un poco de espacio interno */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
/* Estilos para el contenedor del login en dispositivos pequeños */
@media (max-width: 600px) {
  .login-container {
    width: 90%; /* Reducir el ancho del contenedor en dispositivos pequeños */
    max-width: none; /* Eliminar el ancho máximo */
  }
}


.login-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.homead-container {
  width: 80%;
  margin: 20px auto;
}

.homead-table {
  width: 100%;
  border-collapse: collapse;
}

.homead-table th,
.homead-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.homead-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.homead-table tr:hover {
  background-color: #f5f5f5;
}

.homead-container {
  width: 80%;
  margin: 20px auto;
}

.homead-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.homead-table {
  width: 100%;
  border-collapse: collapse;
}

.homead-table th,
.homead-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.homead-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.homead-table tr:hover {
  background-color: #f5f5f5;
}

/* HomeAdController.css */
.homead-controller-container {
  width: 80%;
  margin: 20px auto;
}

.homead-table {
  width: 100%;
  border-collapse: collapse;
}

.homead-table th,
.homead-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.homead-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.homead-table tr:hover {
  background-color: #f5f5f5;
}
