/* Estilos para el contenedor del login */
html, body {
  height: 100%; /* Asegura que el contenedor principal ocupe toda la altura */
  margin: 10;
  display: flex; /* Usa flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  font-family: 'Roboto', sans-serif;
}
.login-container {
  width: 80%; /* Ancho del contenedor */
  max-width: 400px; /* Ancho máximo para dispositivos grandes */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Añade un poco de espacio interno */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
/* Estilos para el contenedor del login en dispositivos pequeños */
@media (max-width: 600px) {
  .login-container {
    width: 90%; /* Reducir el ancho del contenedor en dispositivos pequeños */
    max-width: none; /* Eliminar el ancho máximo */
  }
}


.login-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Estilo para la tabla del home */
.homead-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Leve sombreado */
}

.homead-table th,
.homead-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0; /* Línea divisoria */
}

.homead-table th {
  background-color: #f5f5f5; /* Color de fondo para encabezados */
  font-weight: bold;
}

.homead-table tr:hover {
  background-color: #fafafa; /* Color de fondo al pasar el mouse */
}
