.navbar {
  background-color: #fff;
  padding: 15px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: auto;
}

.navbar-list li {
  margin-right: 20px;
}

.navbar-link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;
  font-size: 18px;
  border: 2px solid transparent;
}

.navbar-link:hover {
  background-color: #007bff; /* Cambio de color al pasar el mouse */
  color: #fff; /* Cambio de color de texto al pasar el mouse */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-color: transparent; /* Transparentar el borde al pasar el mouse */
}
