.navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: auto; /* Mueve los enlaces hacia el lado izquierdo */
}

.navbar-list li {
  margin-right: 10px; /* Espaciado entre los botones */
}

.navbar-link {
  color: #000; /* Color de la letra negro */
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 20px; /* Borde redondeado */
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Agregamos transición para el efecto de iluminación */
}

.navbar-link:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
  color: #fff; /* Cambia el color del texto al pasar el mouse */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Efecto de iluminación al pasar el mouse */
}
