/* Estilos para la columna de productos disponibles */
.productos-disponibles {
  flex: 1;
  padding: 20px;
}

.productos-disponibles h2 {
  margin-bottom: 20px;
}

.productos-disponibles div {
  margin-bottom: 10px;
}

.productos-disponibles span {
  font-size: 16px;
}

.productos-disponibles img {
  width: 100px;
  margin-left: 10px;
}

.productos-disponibles button {
  margin-left: 10px;
}

/* Estilos para la columna de productos en la venta */
.productos-en-venta {
  flex: 1;
  padding: 20px;
}

.productos-en-venta h2 {
  margin-bottom: 20px;
}

.productos-en-venta ul {
  list-style-type: none;
  padding: 0;
}

.productos-en-venta li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.productos-en-venta img {
  width: 50px;
  margin-right: 10px;
}

.productos-en-venta button {
  margin-left: 10px;
}


/* Estilos para la carta de productos */
.producto-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.producto-card span {
  font-size: 16px;
}

.producto-card img {
  width: 100px;
  margin-left: 10px;
}

/* Estilos para los botones */
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}
